* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a0a;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-top: .7em;
}

.navbar h1 {
  color:mintcream;
}

.tictactoe {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  gap: 1em;
  padding: .5em 0em;
  background: linear-gradient(90deg, rgb(255 15 15) 3%, rgb(0 0 0) 52%, rgb(19 27 255) 80%);
}

.celdas {
  width: 100px;
	height: 100px;
	border: 1px solid black;
	margin: auto;
	background-color: #795548;
	cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

.winner {
  justify-content: center;
  display: flex;
}

.historial {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.turno {
  text-align: center;
  padding-top: .5em;
}

.boton-reset {
  cursor: pointer;
  padding: 1em;
  font-size: 1em;
  background-color: #dfdfdf;
  color: black;
  font-weight: 700;
}

.celdas.X {
  border: 1px red solid;
  background-image: url("./assets/messimessi.webp");
  background-size: cover;
}

.celdas.O {
  border: 1px blue solid;
  background-image: url("./assets/ronaldo.jpg");
  background-size: cover;
  background-position: center;
}

.celdas.X:hover, .celdas.O:hover {
  scale: 1.2;
}

.contenedor-historial {
  background-color: mintcream;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: .5em;
  border-radius: 10px;
}

.contenedor-historial h2 {
  color: black;
}

.messi {
  color: red;
  font-size: 1.1em;
}

.ronaldo {
  color: blue;
  font-size: 1.1em;
}

.turno-de-X {
  color: red;
}

.turno-de-O {
  color: blue;
} 
